{% extends 'admin/base.html.twig' %}

{% block title %}User list!{% endblock %}

{% block body %}
    <h1>User list</h1>

    <a href="{{ path('admin_role_new') }}" class="btn btn-info">Create new</a>
    <br />
    <br />

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Active</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}<br />
                    {% endfor %}
                </td>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('admin_user_delete', {'id': user.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
