{% extends 'admin/base.html.twig' %}

{% block title %}Role list{% endblock %}

{% block body %}

    <h1>Role list</h1>

    <a href="{{ path('admin_role_new') }}" class="btn btn-info">Create new</a>
        <br />
        <br />

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ShortName</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.shortName }}</td>
                <td>{{ role.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_role_edit', {'id': role.id}) }}">edit</a>
                    <a href="{{ path('admin_role_delete', {'id': role.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
